<!-- 
  --- Edit Page ---
 @Authour Sean Byrne - Student Number: 23343362
 This Page allows users to UPDATE any weapons name or pattern within thier own collection 
-->

<html>
    <head>
        <link rel="stylesheet" href="/css/editWeapon.css" />
        <link rel="stylesheet" href="/css/footer.css" />
    <body>
      <!-- imports the header.ejs template onto the page -->
        <%- include('../partials/header', { activeTab: 'collection' }) %>
<div class="container">
  <div class="DisplayWeapon">
    
    <h1>Edit Weapon</h1>
    <!-- form that UPDATES the weapon name and pattern of selected weapon from the users collection -->
    <form action="/updateWeapon" method="POST">
      <img src="<%= weapon.image %>" alt="<%= weapon.weapon %>" style="width:250px; height: 200px;">
      <input type="hidden" name="id" value="<%= weapon.id %>">
      <label for="name">Weapon Name:</label>
      <input class="textField" type="text" id="name" name="weapon" value="<%= weapon.weapon %>" required>
      <label for="pattern">Weapon Pattern:</label>
      <input class="textField "type="text" id="pattern" name="pattern" value="<%= weapon.pattern %>" required>
        <!-- button that UPDATES the weapons name and pattern -->
      <button type="submit">Update Weapon</button>
    </form>
  </div>
  </div>

        <!-- imports the footer.ejs template onto the page -->
        <%- include('../partials/footer') %>
    </body>
</html>